/* * Sirve para poner "reglas generales" a la pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f5;
    overflow-x: hidden;
}

.datos-club {
    flex: 1;
    gap: 1.5rem;
    padding: 2rem;
}

.club-contenedor {
    display: flex;
    gap: 1.5rem;
    padding: 2rem;
}
.club   {
    background-color: #dddace;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.apartado-club {
    background-color: #dddace;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.apartado-club img {
    width: 500px;
    height: 450px;
    object-fit: cover;
    border-radius: 8px;
}

.galeria {
    background-color: #dddace;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap; /*hace que no se divida en lineas si lo que ponemos es muy largo*/
}

.tamaño-imagenes {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;
}

.imagen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background-color: #A3B18A;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-text {
    font-size: 1.3rem;
}

nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

.menu {
    display: none;
    font-size: 1.5rem;
  cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    background-color: #A3B18A;
    padding: 2rem 1rem;
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar.active {
    left: 0;
}

.sidebar a {
    display: block;
    margin-bottom: 1rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* Responsive */
@media (max-width: 768px) {
  nav {
    display: none;
  }

  .menu {
    display: block;
    color: white;
  }

  .profile-pic {
    display: none;
  }
}